section {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.wrap {
  width: 90%;
  overflow: hidden;
  position: relative;
  /* margin-inline: 7rem; */
}

.item {
  display: flex;
  flex-wrap: nowrap;
  position: absolute;
  top: 0;
}

.control-btn {
  position: absolute;
  top: 37%;
  transform: translateY(-50%);
  background-color: rgb(173, 216, 230, 0.2);
  border: none;
  font-size: 24px;
  color: rgb(80, 112, 104);
  cursor: pointer;
  opacity: 1;
  z-index: 99;
  border-radius: 100%;
  padding: 2rem;
  width: 5rem;
  height: 5rem;
}

.control-btn:hover {
  /* opacity: 1; */
  color: rgb(95, 95, 95);
}

.control-btn.left {
  left: 0;
  color: rgb(0, 140, 255);
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;

}

.control-btn.right {
  right: 0;
  color: rgb(0, 140, 255);
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selectors {
  text-align: center;
}

.selector {
  width: 0.5rem;
  height: 0.5rem;
  border: 1px solid black;
  border-radius: 50%;
  margin: 0.5rem 0.25rem;
  display: inline-block;
  cursor: pointer;
}